
.leaflet-container{ 
    height: 100%;
  }
  .map-container {
    height: 400px;
  }
  
  .datatable-container {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  th:hover {
    background-color: #ddd;
  }
  
  th:last-child,
  td:last-child {
    text-align: center;
  }
  
  .filter-container {
    margin-top: 10px;
  }
  
  .filter-container input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .filter-container button {
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-container button:hover {
    background-color: #3e8e41;
  }